/* General */

* {
    margin: 0px;
    padding: 0px;
}

body {
	background: #f2f3ee;
	color: #4b2707;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 14px;
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
}

.container {
	width: 900px;
	margin: 0 auto;
    padding: 30px 24px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}

/* Nav */

.navbar {
	overflow: hidden;
	background-color: #63030b;
	text-align: center;
	padding-left: 170px;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #d8b726;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }


  .sidenav {
	width: 90px;
	height: 495px;
	position: fixed;
	z-index: 1;
	top: 30px;
	left: 20px;
	background: #63030b;
	overflow-x: hidden;
	padding: 8px 0;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 14px;
	color: #d8b726;
	display: block;
  }

/* Index */

#purpose{
width: 600px;
text-align: center;
margin: -30px auto 60px;
}

#learnMore{
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

#started {
width: 450px;
float: left;
text-align: center;
margin-bottom: 50px;
}

#members {
width: 450px;
float: right;
text-align: center;
}

/* My Perfect Day */

#myDay {
	text-align: center;
}

#myDay ul {
	margin: 20px 0px;
	text-align: center;
	list-style-position: inside;
}

/* Resources */



/* Join */

#sign-up{
	text-align: center;
}

#sign-up h1 {
	margin-top: 20px;
}

#sign-up form {
border-style: solid;
margin: 20px auto;
width: 400px;
}

#all-members {
	list-style-type: none;

}

.lname {
	color: red;
	font-weight: bold;
	display: inline-block;
}

/* Footer */

footer.main {
	background: #63030b;
	color: #f2f3ee;
    padding: 30px 0;
    text-align: center;
}

footer.main a {
    color: #d8b726;
    text-decoration: none;
    list-style: none;
}

footer.main a:hover {
	color: #5b5c5e;
}