.container {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.div1, .div2, .div3, .div4 {
    background: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.div5{
    background: red;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    top: -180px;
    left: 60px;
    z-index: 3;
    transform: rotate(45deg);
}